*, 
*:after,
*:before {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
:root {
	--primary-color: #1E3A8A;
  	--secondary-color: #7C5A44;
  	--gold-color: #FACC15;
  	--gray-black-color: #1F2937;
  	--white-color: #fefefe;
	--green-color: #446100;
	--black-color: #000000;
}
/*Partie commune --------------------------------------------*/

html, body {
	scroll-behavior: smooth;
	transition: 2s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex_center {
    display: flex;
    align-items: center;
}

article {
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgb(246, 241, 241);
}
.sombre {
	background-color: var(--gray-black-color);
  	color: var(--white-color);
}
.section_title {
    background-color:#446100;
	color: var(--white-color);
    padding: 1rem 0 1rem 0;
    text-align: center;
    margin-bottom: 3rem;
}



/*Partie Header -------------------------------------------*/




/*Partie navigation ----------------------------------------------*/

nav {
    background-color: #1F2937;
    padding: 1rem;
    justify-content: space-around;
    /* gap: 8rem; */
}

nav a {
    color: var(--white-color);
}

nav img {
    height: 5rem;
} 

nav ul {
    gap: 3rem;
}

.logo-txt {
 	gap: 1rem;
}

h1 {
    color: var(--white-color);
}


/*Section intro ------------------------------------------------*/

.section_intro {
    width: 75rem;
    margin: auto;
    margin-top: 5rem;
}

.section_intro h3 {
    margin-bottom: 1rem;
}

.section_intro .slider {
    position: relative;
    /* background-color: red; */
    max-height: 20rem;
    max-width: 40rem;
    margin: auto;
}

.section_intro .slide{
    display: none;
    /* width: 100%; */
}

.section_intro .slide img {
    width: 100%;
    max-height: 20rem;
    display: block;
}

.section_intro .slide p {
    background-color: rgba(53, 53, 53, 0.5);
    color: white;
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.section_intro .slide p a {
    background-color: rgba(255, 255, 255, 0.63);
    padding: 0.3rem;
    border-radius: 1rem;
    color:#446100;
}

.section_intro .active {
    display: block;
}

.section_intro .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    border-radius: 50%;
}

.section_intro .slide_number {
    margin-top: 0.5rem;
    text-align: center;
}

.section_intro .prev {
    left: 0.5rem;
}

.section_intro .next {
    right: 0.5rem;
}

.intro_source{
	color: rgb(119, 119, 119);
}

/*Section intro que-faire et recent ------------------------------------------------*/
.que-faire h4,
.recent h4 {
	font-size: 1.3rem;
}

.item:nth-child(1),
.item:nth-child(2) {
	flex-grow: 1;
}

/* Recent ------------------------------------*/
.card {
  	background: var(--white-color);
  	padding: 1.5rem;
	width: 70%;
}
.quake {
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
	padding-top: 0.7rem;
}
.position {
  	color: var(--primary-color);
  	font-size: 1.5rem;
}
.magnitude {
  	font-size: 1.4rem; 
  	color: var(--gold-color);
	padding-right: 1.5rem;
}
.heure {
  	color: var(--secondary-color);
  	font-size: 1.3rem;
	padding-right: 1.5rem;
}
.tsunami {
	color: var(--gray-black-color);
	font-size: 1.3rem;
	padding-right: 1.5rem;
}
/* Que faire ----------------------------*/

.pendant-div {
	display: flex;
	justify-content: space-around;
	padding: 2rem;
}
.pendant-div div p {
  	font-size: 1.5rem;
  	text-transform: uppercase;
  	padding: 1rem;
  	text-align: center;
}
.pendant-div div {
  	padding: 1rem;
}
.inter ul,
.exter ul,
.voiture ul {
  	list-style: none;
  	padding-left: 0;
  	margin-left: 0;
}

.inter li,
.exter li,
.voiture li {
  	visibility: hidden;
  	opacity: 0;
  	font-size: 1.2rem;
  	transition: opacity 0.5s ease, visibility 0.5s ease;
  	position: relative; /* reste dans le flux */
  	text-align: center;
}


.inter p:hover + ul li, /* Quand on survole le paragraphe */
.exter p:hover + ul li,
.voiture p:hover + ul li {
  	visibility: visible;
  	opacity: 1;
  	color: var(--white-color);
}
.inter p,
.exter p,
.voiture p {
  	position: relative;
  	cursor: pointer;
}

.inter p::after,
.exter p::after,
.voiture p::after {
  	content: "";
  	position: absolute;
  	left: 0;
  	bottom: 10px;
  	left: 35px;
  	width: 80%;
  	height: 2px;
  	background-color: var(--gold-color); /* jaune doré */
  	transform: scaleX(0);
  	transform-origin: left;
  	transition: transform 0.3s ease;
}

.inter p:hover::after,
.exter p:hover::after,
.voiture p:hover::after {
  	transform: scaleX(1);
}

.apres-ol {
  	padding: 1rem 7rem;
}
.apres-ol li {
  	font-size: 1.2rem;
  	padding: 0.5rem;
}
.apres-ol li:hover {
  	cursor: pointer;
  	font-size: 1.3rem;
}
.first {
  	position: absolute;
}
.second {
  	position: absolute;
  	margin-left: 8rem;
  	margin-top: 2rem;
}
.third {
  	position: absolute;
  	margin-left: 16rem;
  	margin-top: 4rem;
}
.fourth {
  	position: absolute;
  	margin-left: 24rem;
  	margin-top: 6rem;
}
.fifth {
  	position: absolute;
  	margin-left: 32rem;
  	margin-top: 8rem;
}
.shake {
	display: inline-block;
  	animation: shake 0.6s ease-in-out;
}
.shake:hover {
	animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(0); }
	20% { transform: translate(-2px, 2px) rotate(-1deg); }
	40% { transform: translate(-2px, -2px) rotate(1deg); }
	60% { transform: translate(2px, 2px) rotate(1deg); }
	80% { transform: translate(2px, -2px) rotate(1deg); }
	100% { transform: translate(0); }
}
.que-faire .intro_source {
	position: absolute;
	top: 251vh;
}
.regle-or {
	padding-top: 13rem;
	padding-bottom: 3rem;
}
.regle-or p {
  	text-align: center;
  	font-size: 2rem;
  	color: var(--gold-color);
}

/*Section séismes importants ---------------------------------------------------*/
.section_seismes_importants {
	width: 75rem;
	margin: auto;
    margin-top: 5rem;
}

.section_seismes_importants .slider {
	max-height: 40rem;
    max-width: 80rem;
    margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section_seismes_importants .slide {
	display: block;
	width: 40rem;
	padding: 2rem;
	background-color: rgb(246, 241, 241);
	text-align: center;
}

.section_seismes_importants h3 {
	color: var(--primary-color)
}

.section_seismes_importants .arrow {
	background: var(--white-color);
    color: var(--gray-black-color);
    border: 1px solid var(--gray-black-color);
    font-size: 1.5rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    border-radius: 50%;
}

.section_seismes_importants .map_button {
	font-size: 0.9rem;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: #446100;
	color: var(--white-color);
	border: none;
}

.section_seismes_importants .map_button:hover {
	font-size: 0.9rem;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: var(--white-color);
	cursor: pointer;
	color:#446100;
}

.section_seismes_importants .quake_info {
	display: flex;
	gap: 2rem;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.section_seismes_importants .button_map_container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

/*Section recherche ----------------------------------------------------------*/

h3 {
    margin-bottom: 1rem;
}

.section_recherche {
    width: 75rem;
    margin: auto;
    margin-top: 5rem;
}

.form-result {
    background-color: rgb(246, 241, 241);
    padding: 1rem;
}

.form_options {
    color:  #446100;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #44610015;
}

.form_search_item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

form input {
    color: #616161;
    border: 1px solid #909090;
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: 7rem;
}

form select {
    color: #616161;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

#form_button {
  margin-top: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #446100;
  padding: 0.3rem;
  border: 2px solid var(--black-color);
  border-radius: 1rem;
  color: var(--white-color);
}

.resul_infos {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.item_result {
  background-color: #dcdcdc;
  border-radius: 1rem;
  padding: 1rem;
}

.item_result p a{
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #446100;
  color: var(--white-color);
}

.item_result:first-child {
  margin-top: 1rem;
}

.results_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.results_buttons button{
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #446100;
  color: var(--white-color);
  cursor: pointer;
}

/*Footer ---------------------------------------------------------*/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;
  background-color: #1F2937;
}

footer img {
  width: 15rem;
}

.footer_logo_txt {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.footer_ressources {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

.footer_ressources a {
  color: #FACC21;
}

.footer_ressources li {
  text-align: center;
  margin-bottom: 1em;
}

.footer_retour_haut {
  transform: rotate(-90deg);
}

.footer_retour_haut a {
  color: #446100;
  padding: 0.2rem;
  border-radius: 1rem;
  font-size: 3rem;
  background-color: #ffffff99;
}

.copyright {
  padding: 0.5rem;
  text-align: center;
  background-color: #F6F1F1;
}
