*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
	--primary-color: #1E3A8A;
  --secondary-color: #7C5A44;
  --gold-color: #FACC15;
  --gray-black-color: #1F2937;
  --white-color: #fefefe;
}
/*Partie commune*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex_center {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

article {
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgb(246, 241, 241);
}
.sombre {
	background-color: var(--gray-black-color);
  	color: var(--white-color);
}
.section_title {
    background-color:#446100;
	color: #FEFEFE;
    padding: 1rem 0 1rem 0;
    text-align: center;
    margin-bottom: 3rem;
}

/*Partie commune*/

/*Partie Header*/


/*Partie Header*/

/*Partie navigation*/

nav {
    background-color: #1F2937;
    padding: 1rem;
    justify-content: space-around;
    /* gap: 8rem; */
}

nav a {
    color: #FEFEFE;
}

nav img {
    height: 5rem;
} 

nav ul {
    gap: 3rem;
}

.logo-txt {
 gap: 1rem;
}

h1 {
    color: #FEFEFE;
}

/*Partie navigation*/

/*Section intro*/

.section_intro {
    width: 75rem;
    margin: auto;
    margin-top: 5rem;
}

.section_intro h3 {
    margin-bottom: 1rem;
}

.section_intro .slider {
    position: relative;
    /* background-color: red; */
    max-height: 20rem;
    max-width: 40rem;
    margin: auto;
}

.section_intro .slide{
    display: none;
    /* width: 100%; */
}

.section_intro .slide img {
    width: 100%;
    max-height: 20rem;
    display: block;
}

.section_intro .slide p {
    background-color: rgba(53, 53, 53, 0.5);
    color: white;
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.section_intro .slide p a {
    background-color: rgba(255, 255, 255, 0.63);
    padding: 0.3rem;
    border-radius: 1rem;
    color:#446100;
}

.section_intro .active {
    display: block;
}

.section_intro .arrow {
    position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.4);
      color: white;
      border: none;
      font-size: 1.5rem;
      padding: 0.5rem 0.9rem;
      cursor: pointer;
      border-radius: 50%;
}

.section_intro .slide_number {
    margin-top: 0.5rem;
    text-align: center;
}

.section_intro .prev {
    left: 0.5rem;
}

.section_intro .next {
    right: 0.5rem;
}

/*Section intro*/


.que-faire h4,
.recent h4 {
  font-size: 1.3rem;
}

.item:nth-child(1),
.item:nth-child(2) {
  flex-grow: 1;
}

/* Recent */
.card {
  background: var(--white-color);
  padding: 1.5rem;
	width: 60%;
}
.quake {
  display: flex;
  justify-content: space-around;
  align-items: center;
	padding-top: 0.7rem;
}
.position {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.magnitude {
  font-size: 1.4rem; 
  color: var(--gold-color);
}
.heure {
  color: var(--secondary-color);
  font-size: 1.3rem;
}
/* Que faire */

.pendant-div {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.pendant-div div p {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}
.pendant-div div {
  padding: 1rem;
}
.inter ul,
.exter ul,
.voiture ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.inter li,
.exter li,
.voiture li {
  visibility: hidden;
  opacity: 0;
  font-size: 1.2rem;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: relative; /* reste dans le flux */
  text-align: center;
}

/* Quand on survole le paragraphe */
.inter p:hover + ul li,
.exter p:hover + ul li,
.voiture p:hover + ul li {
  visibility: visible;
  opacity: 1;
  color: var(--white-color);
}
.inter p,
.exter p,
.voiture p {
  position: relative;
  cursor: pointer;
}

.inter p::after,
.exter p::after,
.voiture p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  left: 35px;
  width: 80%;
  height: 2px;
  background-color: var(--gold-color); /* jaune doré */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.inter p:hover::after,
.exter p:hover::after,
.voiture p:hover::after {
  transform: scaleX(1);
}

.apres-ol {
  padding: 1rem 7rem;
}
.apres-ol li {
  font-size: 1.2rem;
  padding: 0.5rem;
}
.apres-ol li:hover {
  cursor: pointer;
  font-size: 1.3rem;
}
.first {
  position: absolute;
}
.second {
  position: absolute;
  margin-left: 8rem;
  margin-top: 2rem;
}
.third {
  position: absolute;
  margin-left: 16rem;
  margin-top: 4rem;
}
.fourth {
  position: absolute;
  margin-left: 24rem;
  margin-top: 6rem;
}
.fifth {
  position: absolute;
  margin-left: 32rem;
  margin-top: 8rem;
}
.regle-or {
	padding-top: 13rem;
}
.regle-or p {
  text-align: center;
  font-size: 2rem;
  color: var(--gold-color);
}

/*Section séismes importants*/
.section_seismes_importants {
	width: 75rem;
	margin: auto;
    margin-top: 5rem;
}

.section_seismes_importants .slider {
	max-height: 20rem;
    max-width: 70rem;
    margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section_seismes_importants .slide {
	display: none;
	width: 40rem;
	padding: 2rem;
	box-shadow: 2px 2px 2px 2px var(--gray-black-color);
}

.section_seismes_importants .active {
	display: block;
}

.section_seismes_importants .arrow {
	background: var(--white-color);
    color: var(--gray-black-color);
    border: 1px solid var(--gray-black-color);
    font-size: 1.5rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    border-radius: 50%;
}
/*Section séismes importants*/

/*Section recherche*/

h3 {
    margin-bottom: 1rem;
}

.section_recherche {
    width: 75rem;
    margin: auto;
    margin-top: 5rem;
}

.form-result {
    background-color: rgb(246, 241, 241);
    padding: 1rem;
}

.form_options {
    color:  #446100;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #44610015;
}

.form_search_item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

form input {
    color: #616161;
    border: 1px solid #909090;
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: 7rem;
}

form select {
    color: #616161;
    border-radius: 0.5rem;
    padding: 0.2rem;
}
/*Section recherhce*/
